@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('https://images.wallpaperscraft.com/image/laferrari_ferrari_f70_sports_car_123258_2560x1080.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">La Ferarri</h2>
                <p class="lead">La only Ferarri you will Ever Need</p>
            </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://hdqwalls.com/download/lamborghini-sesto-elemento-wide-2560x1080.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Lamborghini Sesto Elemento</h2>
                <p class="lead">So Scary, Its Not Even Allowed on the Streets</p>
            </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://wallpapersmug.com/download/2560x1080/f63fd9/black-mclaren-senna-on-road.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">McLaren Senna</h2>
                <p class="lead">So Powerful, It will Literally Set the Tires on FIRE</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

</br>
</br>
</br>

<h1>Popular Picks</h1>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="https://res.cloudinary.com/carsguide/image/upload/f_auto,fl_lossy,q_auto,t_cg_hero_large/v1/editorial/lamborghini-huracan-jan-glovac-box-magazine-2015-%286%29.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Lamborghini Huracan</h5>
            <p class="card-text">The Raging Bull with a Soft Spot</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://www.topgear.com/sites/default/files/styles/16x9_1280w/public/images/cars-road-test/2016/12/e1ba2cc73ababb8dcd812ea33400c79d/row_4863.jpg?itok=mgAgVVIZ" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Mercedes Benz AMG GTR</h5>
            <p class="card-text">Tire Shredding Track Beast</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://www.slashgear.com/wp-content/uploads/2019/02/2020-mclaren-720s-spider-first-drive-review-1280x720.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">McLaren 720s</h5>
            <p class="card-text">Powerful, yet Elegant</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
