@model DDAC2.Models.Reservation

@{
    ViewData["Title"] = "MakeReservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MakeReservation</h2>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MakeReservation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BuyerName" class="control-label"></label>
                <input asp-for="BuyerName" class="form-control" />
                <span asp-validation-for="BuyerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyerEmail" class="control-label"></label>
                <input asp-for="BuyerEmail" class="form-control" />
                <span asp-validation-for="BuyerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyerPhone" class="control-label"></label>
                <input asp-for="BuyerPhone" class="form-control" />
                <span asp-validation-for="BuyerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarVinNumber" class="control-label"></label>
                <input asp-for="CarVinNumber" class="form-control" />
                <span asp-validation-for="CarVinNumber" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="Status" class="form-control" type="hidden"/>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
